body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "EB Garamond", serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #e8b2cd, #8bd0e7);
}

.card {
  width: 300px;
  height: 300px;
  background: #ffffff33;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 15px;
  border: 1px solid #ffffff4d;
  padding: 20px;
  box-shadow: 0 4px 30px #0000001a;
  color: #bd5a5a;
  text-align: center;
  font-size: 1.2rem;
}

.poster {
  width: 70%;
  height: 50%;
  padding-right: 50%;
  padding-top: 10px;
}

.btn1 {
  background: #b5c6e8;
  border: 1px solid white;
  padding: 10px 20px;
  border-radius: 5px;
  color: #a75858;
  cursor: pointer;
  justify-content: left;
  margin-right: 10%;
}

.btn2 {
  background: #b5c6e8;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  color: #a75858;
  cursor: pointer;
  justify-content: right;
  border: 1px solid white;
}

.btn1:hover,
.btn2:hover {
  background: #7f9fe3;
  color: #910303;
  transition: 0.5s ease;
}
